# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate

# Xcode build products
DerivedData/
build/

# Swift Package Manager
.build/

# Playground
timeline.xctimeline
playground.xcworkspace
